pos/static/n8n_workflows/02_daily_summary.json
{
  "name": "POS — 02 Daily Summary 18:30",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "30 18 * * *"
            }
          ]
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "Schedule — 18:30 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "YOUR_POS_URL/pos/api/daily-summary?key=YOUR_API_KEY",
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "Fetch Daily Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Daily",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ວັນທີ":           "={{ $json.date_lao }}",
            "ບິນທັງໝົດ":      "={{ $json.total_sales }}",
            "ລາຍຮັບລວມ":      "={{ $json.total_revenue }}",
            "ເງິນສົດ":        "={{ $json.cash_total }}",
            "ໂອນເງິນ":        "={{ $json.transfer_total }}",
            "ຄ້າງຊຳລະ":      "={{ $json.debt_total }}",
            "ຈຳນວນຄ້າງ (ບິນ)": "={{ $json.debt_count }}"
          },
          "matchingColumns": [],
          "schema": []
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000003",
      "name": "Google Sheets — Daily",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [680, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REPLACE_WITH_YOUR_CREDENTIAL_ID",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.callmebot.com/whatsapp.php",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "YOUR_WHATSAPP_PHONE_+856XXXXXXXXXX"
            },
            {
              "name": "text",
              "value": "={{ $json.whatsapp_msg }}"
            },
            {
              "name": "apikey",
              "value": "YOUR_CALLMEBOT_APIKEY"
            }
          ]
        },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000004",
      "name": "WhatsApp — Summary",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Schedule — 18:30 Daily": {
      "main": [
        [{"node": "Fetch Daily Summary", "type": "main", "index": 0}]
      ]
    },
    "Fetch Daily Summary": {
      "main": [
        [
          {"node": "Google Sheets — Daily", "type": "main", "index": 0},
          {"node": "WhatsApp — Summary", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "_readme": [
    "=== POS Workflow 2: Daily Summary at 18:30 ===",
    "SETUP STEPS:",
    "1. Import this file into n8n",
    "2. In 'Fetch Daily Summary' node: replace YOUR_POS_URL with your server URL",
    "   e.g. http://192.168.1.100:5000/pos/api/daily-summary?key=mysecret",
    "   (Set the API key in POS Settings > n8n API Key first)",
    "3. In 'Google Sheets — Daily': connect your Google account + set Sheet ID",
    "   Create columns: ວັນທີ | ບິນທັງໝົດ | ລາຍຮັບລວມ | ເງິນສົດ | ໂອນເງິນ | ຄ້າງຊຳລະ | ຈຳນວນຄ້າງ (ບິນ)",
    "4. In 'WhatsApp — Summary': replace phone + apikey (same as workflow 1)",
    "5. Cron runs at 18:30 every day (30 18 * * *)",
    "   To change time: edit the cron expression in Schedule node",
    "6. Activate the workflow"
  ]
}
